h1,
h2,
h3 {
    color: red;
}

.menu {
    text-decoration: none;
    color: black;
    padding: 4px;
    font-weight: bolder;
}

img {
    width: calc(100%-100px);
    border-radius: 25px;
}

#mainmenu .menu {
    color: violet;
}

nav .menu:hover {
    text-decoration: underline;
}

p::first-letter {
    color: red;
}

#logo {
    width: 100px;
    padding: 0;
    margin: 0;
    /*position: absolute;
            right: 50px;
            top: 50px;
            padding: 5px;
            border: 1px solid black;
            opacity: 0.5;
            box-shadow: 0 0 10px black;*/
}

#companyname {
    padding: 10px;
    margin: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}